<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main.java.com.TCDriver.TC_driver_Relationship</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_128</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_125</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_124</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_126</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
