<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:20</td>   <td>0</td> <td title="&gt;&gt;TC_driver_Relationship.AppLauncher()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">&gt;&gt;AppLauncher</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:36</td>   <td>15739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_driver_Relationship.CI_TC_124()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">CI_TC_124</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:40</td>   <td>20113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_driver_Relationship.CI_TC_125()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">CI_TC_125</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:43</td>   <td>22886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_driver_Relationship.CI_TC_126()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">CI_TC_126</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:45</td>   <td>25527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_driver_Relationship.CI_TC_128()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">CI_TC_128</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="73f9ac">  <td>19/12/23 13:26:48</td>   <td>28374</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_driver_Relationship.endTest()[pri:0, instance:main.java.com.TCDriver.TC_driver_Relationship@2173f6d9]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752203484</td>   <td></td> </tr>
</table>
