<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main.java.com.TCDriver.TC_driver_PaymentMethod</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_150</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_152</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_151</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_154</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_153</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_145</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_156</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_155</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_158</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_147</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_157</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_146</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_148</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CI_TC_159</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
