<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd678c">  <td>20/03/12 16:47:07</td>   <td>0</td> <td title="&gt;&gt;TC_driver_PaymentMethod.AppLauncher()[pri:0, instance:main.java.com.TCDriver.TC_driver_PaymentMethod@548a102f]">&gt;&gt;AppLauncher</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@299644693</td>   <td></td> </tr>
<tr bgcolor="cd678c">  <td>20/03/12 16:47:14</td>   <td>7118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_driver_PaymentMethod.CI_TC_145()[pri:0, instance:main.java.com.TCDriver.TC_driver_PaymentMethod@548a102f]">CI_TC_145</td> 
  <td>main@299644693</td>   <td></td> </tr>
<tr bgcolor="cd678c">  <td>20/03/12 16:50:12</td>   <td>185587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_driver_PaymentMethod.endTest()[pri:0, instance:main.java.com.TCDriver.TC_driver_PaymentMethod@548a102f]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@299644693</td>   <td></td> </tr>
</table>
